*{
    padding: 0;
    margin: 0;
}
/* ---g font  */
.g-fonts {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ----shared style-- */
.sh-color{
    background-color: #4E47FF;
}
.sh-button{
    background-color: #4E47FF;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
}
.sh-subtitle{
    color: #66666b;
}
/* --header */
header{
    max-width: 100%;
    background-image: url('../img/Hero-bg.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
}
nav{
    max-width: 100%;
    margin: auto;
}
.navber{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    
}
.nav-part1{
    color: #4E47FF;
    font-size: 1.2em;
    
    
}
.nav-part1 h2{

    letter-spacing: 3px;
    font-weight: bold;
    
}
.hero-container{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-part{
    text-align: center;
    padding: 15px 0;
}
.hero-part h2{
    font-size: 2.8em;
    margin-bottom: 25px;
    font-weight: 700;
}

/* ---main part  */
main{
    max-width: 100%;
    margin: auto;
    background-color: #f4f6f8;
}
.main-action{
    width: 80%;
    margin: auto;
    padding: 30px 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.main-ac1 h2{
    font-size: 1.6em;
    margin-bottom: 8px;
}
.main-ac1 p{
    margin-bottom: 20px;
}
.main-ac2 img{
    width: 100%;
    height: 300px;
    border-radius: 30px;
}

/* ---Main Product Users  */
.main-p-users{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #E5E7FF;
    padding: 25px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.main-p-users h1{
    margin-top: 20px;
    font-size: 1.8em;
}
.p-all-users{
    display: flex;
    justify-content: space-around;
}
.users-part .users-title{
    color: #4E47FF;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 3em;
    padding-top: 20px;
}
.users-subtitle{
    color: #66666b;
}

