*{
    padding: 0;
    margin: 0;
}
/* ---g font  */

.g-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.g-fonts {
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* ----shared style-- */
.sh-color{
    background-color: #4E47FF;
}
.sh-button{
    background-color: #4E47FF;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 1s;
}
.sh-button:hover{
    background-color: tomato;
}
.sh-subtitle{
    color: #66666b;
}
/* --header */
header{
    max-width: 100%;
    background-image: url('../img/Hero-bg.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
}
nav{
    max-width: 100%;
    margin: auto;
}
.navber{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    
}
.nav-part1{
    color: #4E47FF;
    font-size: 1.2em;
    
    
}
.nav-part1 h2{
    font-size: 1.7em;
    letter-spacing: 3px;
    
}
.nav-part1 span{
    color: tomato;
}
.hero-container{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-part{
    text-align: center;
    padding: 15px 0;
}
.hero-part h2{
    font-size: 2.8em;
    margin-bottom: 25px;
    font-weight: 700;
}

/* ---main part  */
main{
    max-width: 100%;
    margin: auto;
    padding-bottom: 50px;
    background-color: #f4f6f8;
}
.main-action{
    width: 80%;
    margin: auto;
    padding: 30px 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.main-ac1 h2{
    font-size: 1.6em;
    margin-bottom: 8px;
}
.main-ac1 p{
    margin-bottom: 20px;
}
.main-ac2 img{
    width: 100%;
    height: 300px;
    border-radius: 30px;
}

/* ---Main Product Users  */
.main-p-users{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #E5E7FF;
    padding: 25px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.main-p-users h1{
    margin-top: 20px;
    font-size: 1.8em;
}
.p-all-users{
    display: flex;
    justify-content: space-around;
}
.users-part .users-title{
    color: #4E47FF;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 3em;
    padding-top: 20px;
}
.users-subtitle{
    color: #66666b;
}

/* -----main-users-rating Part */
.main-users-rating{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    padding-bottom: 60px;
}
.main-users-rating .rating-headline{
    margin-bottom: 30px;
    font-size: 1.6em;
}
.users-all-rating{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.users-rating{
    background-color: #ebebf5;
    padding: 15px 10px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px black;
    transition: 1s;
}
.users-rating:hover{
    transform: scale(1.1);
}
.ratings-image img{
    width: 40px;
    height: 40px;
}
.users-rating .rating-stars{
    margin-bottom: 15px;
    color: rgb(102, 105, 97);
}
.users-rating .rating-subtitle{
    margin-top: 5px;
    margin-bottom: 20px;
}
.ratings-image img{
    border-radius: 50%;
    border: 2px solid black;
    padding: 4px;
}
.ratings-image {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* -main optional--- */
.main-optional{
    width: 100%;
    padding-top: 30px;
    text-align: center;
}
.optional{
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 50px 50px;
    border-radius: 10px;
}
.optional h1{
    font-size: 3em;
    margin-bottom: 10px;
}
.optional p{
    margin-bottom: 10px;
}
.optional img{
    width: 100%;
    border-radius: 30px;
    margin-top: 20px;
}

/* ----Main Form Pat--- */
.main-form{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 60px;

}
.form-all{
    width: 80%;
    margin: auto;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-txt{
    font-size: 3.5em;
    color: #32304b;
}
form{
    width: 30%;
}
form label, input{
    margin: 10px;
    display: block;
    width: 100%;
}
form input[type="email"], input[type="text"]{
    padding: 0 10px;
    height: 46px;
    border-radius: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px 1px black;
}
form textarea{
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px 1px black;
}
form input[type="button"]{
    width: 346px;
    height: 40px;
    background-color: #4E47FF;
    box-shadow: 0 0 2px 1px black;
    color: white;
    border-radius: 5px;
    border: none;
}



/* ----Footer Part-- */
footer{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #2e2e44;
}
.footer-container{
    width: 80%;
    margin: auto;
}
.footer-container h1{
    font-size: 4.5em;
    font-weight: bolder;
    margin-bottom: 15px;
    letter-spacing: 3px;
    color: #4E47FF;
}
.footer-container span{
    color: tomato;
}
.footer-container ul{
    margin-top: 20px;
}
.footer-container ul li{
    list-style: none;
    display: inline;
    margin: 8px;
}
.footer-container ul li a {
    text-decoration: none;
    color: #dddd;
}
.footer-container .copyright{
    margin-top: 30px;
    font-size: 1.2em;
    color: #dddd;
}